/* empresasstyles.css */
.page-text{
font-size: 30px;
margin-top: 7rem;

}

.page-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: auto;
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 200px;
 
  

}

.data-card {
  margin: 30px;
  width: 30%;
  height: 40%; /* Adapte conforme necessário, deixando espaço para margens */
  margin-bottom: 40px;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid #FFC619; /* Adapte conforme necessário */
  border-radius: 8px; /* Adapte conforme necessário */
  text-decoration: none;
  color: #333; /* Adapte conforme necessário */
}

/* Adapte as cores conforme necessário */
.link-text {
  color: #333;
  display: flex;
  align-items: center;
}

.link-text svg {
  margin-left: 5px;
}

.link-text:hover{
  color:#000
}

@media screen and (max-width: 1040px) {
  .page-contain {
    margin: 5rem;
  }

  .data-card {
    width: 100%;
    padding: 20px;
  }
}