.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.section {
  text-align: left;
  flex: 1;
  margin: 0 10px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;

}
.section p{
 
 color: #fff;
}
.section h3 {
 
  margin-bottom: 10px;
  color: #FFC619;
}

.section a {

  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}
@media (max-width: 1040px) {
  .section {
    margin-left: 0;
    font-size: 10px;
  }

  .section h3 {
    font-size: 16px;
     /* Reduza ainda mais o tamanho da fonte em telas menores */
  }

  
}