.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.section {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}

.section h3 {
 
  margin-bottom: 10px;
  color: #FFC619;
}

.section a {

  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}
