
.nav-link:hover, .nav-link:active {
    cursor: pointer;
}


.logo {
    padding: 10px 4rem;
    margin: 0;
    display: inline-block;

}


.header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    vertical-align: top;
}

.nav-menu {
    display: flex;
}

.nav-item {
    color: black;
    padding: 10px 1rem;
    font-weight: 800;
    position: relative;



}

/*.nav-menu li {
    padding: 0 1rem;
}*/

.nav-item:hover::after {
    content: "";
    position: absolute;
    left: 1;
    bottom: -2px;
    width: 50%;
    border-bottom: 2px solid #FFC619;
}


.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;

}

.nav-responsive {
    display: none;
}

/* ... Seu código anterior ... */

@media screen and (max-width:1040px) {
    .nav-menu {
        /* Remova z-index: -1; */
    }

    /* ... Outras regras de estilo ... */

    .btn-light {
        margin-top: 30px;
        color: #292526; /* Ajuste a cor do texto */
        background-color: #FFC619; /* Ajuste a cor do fundo */
        padding: 10px 20px; /* Adapte conforme necessário */
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
}
