.ag-format-container {
    width: 1130px;
    margin: 0 auto;
    margin-top: 100px;
}

.ag-text {
    text-align: center;
    color: #292526;
}

.ag-courses_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0;
}

.ag-courses_item {
    flex-basis: calc(50% - 30px);
    margin: 0 10px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_link {
    text-decoration: none;
    display: block;
    padding: 30px 20px;
    background-color: #FFF;
    overflow: hidden;
    position: relative;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    transform: scale(1.5);
}

.ag-courses-item_title {
    min-height: 87px;
    overflow: hidden;
    font-weight: 300;
    font-size: 20px;
    color: #292526;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 15px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: lighter;
    color: #000;
    transition: color 0.5s ease;
}

.ag-courses-item_bg {
    height: 128px;
    width: 200px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all 0.5s ease;
}




@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}