@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:ital,wght@0,600;0,800;1,500;1,700&display=swap');


.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(red, green, blue);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}


.btn-light {
  padding: 2px 32px;
  border: 1px solid yellow;
  background: transparent;
  color: #000;
  border-radius: 7px;

}

.btn:hover {
  background: rgb(red, green, blue);
  color: #fff;
  transition: 0.3s;
}

.btn-light:hover {
  background: yellow;
}